{% extends 'layouts/appUser.html.twig' %}

{% block title %}Profil
{% endblock %}
{% block stylesheets %}

	{{parent()}}

{% endblock %}
{% block page_content %}
	{{parent()}}

	<div class=" container-profil mt-5  d-flex justify-content-center">
		<div class="card p-4  shadow p-3 mb-5 bg-body rounded text-center " style="width:70%">
			<h1><img src="{{ asset('assets/img/icone.png') }}" alt="">
				Mon profil</h1>
			<div class=" image d-flex flex-column justify-content-center align-items-center">
				<img src="{{asset('/uploads/'~ user.picture)}}" height="200" width="200" class="rounded-3"/>
			</div>
			<div></div><br>
			<div class="text-center">
				<h3>{{ user.name}}
					{{ user.lastName}}</h3>
				<h5>{{ user.title}}</h5>
			</div>
			<div class="text-center">
				<h5>{{ user.email}}</h5>
				<h5>{{ user.phone}}</h5>
			</div>
			<div class="text-center">
				<button type="button" class="btn btn-danger" href="{{ path('profil_edit', {'id': user.id}) }}">Modifier mon profil</button>
			</div>
		</div>
	</div>


</div></div></div><!-- Button trigger modal --><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Launch demo modal</button><!-- Modal --><div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"><div class="modal-dialog">
<div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">
		...
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary">Save changes</button>
	</div>
</div></div></div>{% endblock %}{% block javascripts %}{{parent()}}{% endblock %}
